@font-face {
  font-family: 'facit-bold';
  src: url(font-path('ufonts.com_facit-bold-opentype.otf'));
}
@font-face {
  font-family: 'facit-regular';
  src: url(font-path('ufonts.com_facit-regular-opentype.otf'));
}
@font-face {
  font-family: 'facit-light';
  src: url(font-path('ufonts.com_facit-light-opentype.otf'));
}
@font-face {
  font-family: 'facit-extralight';
  src: url(font-path('ufonts.com_facit-extralight-opentype.otf'));
}

// facitweb 38px giant
@mixin facit-giant {
  font-family: 'facit-regular';
  font-size: 2.375rem;
}

// facitweb 36px biggest
@mixin facit-biggest {
  font-family: 'facit-bold';
  font-size: 1.9rem;
}

// facitweb 29px bigger
@mixin facit-bigger {
  font-family: 'facit-regular';
  font-size: 1.55rem;
}

// facitweb 20px normal
@mixin facit-normal {
  font-family: 'facit-regular';
  font-size: 1.06rem;
}

// facitweb 18px smaller
@mixin facit-smaller {
  font-family: 'facit-regular';
  font-size: 0.96rem;
}

// facitweb 16px smallest
@mixin facit-smallest {
  font-family: 'facit-regular';
  font-size: 0.85rem;
}

@mixin sans-serif-biggest {
  font-family: 'sans-serif';
  font-size: 0.9rem;
  line-height: 1.5rem;
}

// sans-serif 16px bigger
@mixin sans-serif-bigger {
  font-family: 'sans-serif';
  font-size: 0.8rem;
}

// sans-serif 14px big
@mixin sans-serif-big {
  font-family: 'sans-serif';
  font-size: 0.7rem;
}

// sans-serif 12px small
@mixin sans-serif-small {
  font-family: 'sans-serif';
  font-size: 0.6rem;
}
