html {
  font-size: 20px;
}

body, form {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'facit-light';
}

#navbar, body, .row {
  width: 100%;
  margin: auto;
}

a {
  color: #8C8C8C;
  font-family: 'facit-light';

  &:hover {
    color: #4D4D4D;
  }
}

a, p, h1, h2, h3, span, img {
  user-select: none;
}
