@mixin submit-btn {
  @include facit-normal;
  font-family: 'facit-bold';
  font-weight: bold;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 0 #3f6f21;
  &:hover {
    background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
  }
}

@mixin boot-col-no-padding {
  .col-md-1,.col-md-2,
  .col-md-3, .col-md-4,
  .col-md-5, .col-md-6,
  .col-md-7, .col-md-8,
  .col-md-9, .col-md-10,
  .col-md-11, .col-md-12{
    padding: 0 0 0 0;
  }
}

@mixin big-submit {
  @include submit-btn;
  @include facit-normal;
  margin-top: 1rem;
  font-family: 'facit-bold';
  font-weight: bold;
  height: 2.55rem;
  width: 5.575rem;
  padding: 0.6rem 1.3rem;
}

@mixin default-checkbox {

}
