@mixin submit-btn {
  @include facit-normal;
  font-family: 'facit-bold';
  font-weight: bold;
  background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 0 #3f6f21;
  height: 1.8rem;
  width: 5.616rem;
  padding: 0.350rem 1.5rem;
  &:hover {
    background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
  }
}

@mixin boot-col-no-padding {
  .col-md-1,.col-md-2,
  .col-md-3, .col-md-4,
  .col-md-5, .col-md-6,
  .col-md-7, .col-md-8,
  .col-md-9, .col-md-10,
  .col-md-11, .col-md-12{
    padding: 0 0 0 0;
  }
}

@mixin big-submit {
  @include submit-btn;
  @include facit-normal;
  margin-top: 1rem;
  font-family: 'facit-bold';
  font-weight: bold;
  height: 2.55rem;
  width: 5.575rem;
  padding: 0.6rem 1.3rem;
}

@mixin default-checkbox {}

@mixin popover {
  background-color: #FFFFFF;
  padding: 0.5rem;
  z-index: 1;
  width: 15rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
  border-radius: 3px;
  margin: 0.3rem;
  outline: none;

  .popover-title-container {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #D6DADC;
    margin-bottom: 0.5rem;
    color: #8c8c8c;
  }

  .popover-title {
    @include sans-serif-big;
    display: inline-block;
    background-color: inherit;
    border-bottom: none;
    margin: auto;
    padding: 0 0 0.5rem 0;
  }

  .popover-x {
    margin-top: 0.2rem;
    float: right;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .popover-label {
    @include sans-serif-big;
    font-weight: bold;
    color: #4d4d4d;
  }

  .popup-input {
    @include sans-serif-big;
    outline: none;
    color: #4d4d4d;
    background-color: #E2E4E6;
    border: 1px solid #CDD2D4;
    border-radius: 3px;
    transition: background 85ms ease-in,border-color 85ms ease-in;
    &:focus {
      background-color: #fff;
      border-color: #298FCA;
      box-shadow: 0 0 2px #298FCA;
    }
    &:hover {
      transition: background 85ms ease-in,border-color 85ms ease-in;
      border-color: #A5ACB0;
      &:focus {
        background-color: #fff;
        border-color: #298FCA;
        box-shadow: 0 0 2px #298FCA;
      }
    }
  }

  .submit-btn {
    margin-top: 1rem;
    width: 6.189rem;
  }
}
