// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10rem;
  background-color: green;
}

/* .delete-board-link{ */
/* color: #F6F6F6; */
/* &:hover { */
/* color: white; */
/* } */
/* } */
/*  */
/* .edit-in-place span { */
/* cursor: pointer; */
/* } */
/*  */
/* .edit-in-place input { */
/* display: none; */
/* } */
/*  */
/* .edit-in-place.active span { */
/* display: none; */
/* } */
/*  */
/* .edit-in-place.active input { */
/* display: inline-block; */
/* } */
/*  */
/* .board-show{ */
/* background-color: #0079BF; */
/* overflow: hidden; */
/* } */
/*  */
/* .board-title{ */
/* margin-top: 0; */
/* margin-left: 1%; */
/* margin-bottom: 1%; */
/* font-weight: bold; */
/* color: white !important; */
/* background-color: inherit !important; */
/* &:hover{ */
/* cursor: pointer; */
/* } */
/* } */
/*  */
/* .rename-button { */
/* display: inline-block; */
/* color: white; */
/* height: 4em; */
/* margin-top: 1em; */
/* width: 6em; */
/* box-shadow: 0 1px 0 #3F6F21; */
/* background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%); */
/* &:hover { */
/* color: white; */
/* background: linear-gradient(to bottom,#5AAC44 0,#519839 100%); */
/* } */
/* } */
