// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* .fixer { */
/* @extend .glyphicon; */
/* visibility: hidden; */
/* } */

.lists-container {
  padding-left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 2%;
  width: 96%;
  height: 85vh;
  &::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  border-radius: 10px;
	  background-color: #0067A3;
  }
  &::-webkit-scrollbar {
	  width: 13px;
  }
  &::-webkit-scrollbar-thumb {
	  border-radius: 10px;
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	  background-color: #66A4C7;
  }
}

.list {
  width: 13.5rem;
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px 0px 0px;
  padding: 0.2rem;
  color: #585858;
  font-size: 1rem;
  font-weight: bold;
  background-color: #E2E4E6;
  min-height: 3rem;
  border-radius: 3px;
}

.list-title {
  @include sans-serif-big;
  margin-bottom: 7%;
  width: 80%;
  display: inline-block;

  .edit-text {
    @include sans-serif-big;
    padding: 0.2rem;
  }

  .edit-input {
    @include sans-serif-big;
    padding: 0.2rem;
  }
}

.list-options {
  display: block;
  float: right;
  width: 1.3rem;
  padding-bottom: 0.2rem;
  height: 1.3rem;
  background-color: #E2E4E6;
  border: none;
  color: #B3B5B7;
  outline: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  a {
    padding-bottom: 0.2rem;
    display: inline-block;
    height: 100%;
    .glyphicon {
      font-size: 0.5rem;
      vertical-align: middle;
      margin-bottom: 0.3rem;
    }
  }
  &:hover {
    background-color: #CDD2D4;
  }
}

.new-list {
  @extend .list;
  min-height: 2rem;
  max-height: 2rem;
  vertical-align: top;
  background: rgba(0,0,0,.12);
  padding: 0;
  cursor: pointer;
  border: none;
  transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
  &:hover {
    background: rgba(0,0,0,.3);
  }
}

.new-list-text-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0,0,0,0);
  font-weight: normal;
  p {
    @include sans-serif-big;
    color: #B1CBDA;
    margin-left: 4%;
    margin-top: 4%;
  }
}

.new-list-form-container{
  float: right;
  border: 2px solid #E2E4E6;
  min-height: 3rem;
  display: inline-block;
  white-space: normal;
  padding: 4px;
  border-radius: 3px;
  background-color: #E2E4E6;

  .new-list-form {
    background-color: #E2E4E6;
  }

  a {
    @include small-submit;
    color: white;
    margin-top: 0.2rem;
  }

  input {
    @include sans-serif-big;
    min-height: 1.7rem;
    font-weight: normal;
    padding: 0.350rem;
    width: 100%;
    outline: none;
    background: rgba(0,0,0,.05);
    border: 1px solid #CDD2D4;
    border-radius: 3px;
    color: #4d4d4d;
    border-color: #aaa;
    box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
  }

  .new-list-x {
    line-height: 1.6rem;
    font-size: 1.5rem;
    margin-left: 0.2rem;
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.7;
    cursor: pointer;
  }

  p {
    font-weight: bold;
  }
}
