.nav {
  border: none;
  border-radius: 0;
  background-color: #026AA7;
  height: 1.5rem;
  min-height: 1.5rem;
  padding: 0.25rem 0.25rem;
  box-sizing: content-box;
  .navbar-header {
    height: 100%;
  }
}

.navbar-header {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  height: 1.5rem;
  width: 4.4rem;
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -2.5rem;
  top: 3px;
  text-align: center;
  padding: 0.2rem 0.1rem;
  cursor: pointer;
}

.brand-image-container {
  position: relative;
  #djello-img {
    width: 70%;
  }
  #jello-img {
    width: 30%;
  }
  #djello-img, #jello-img {
    display: inline-block;
    opacity: 0.7;
    transition: opacity ease-in 85ms;
    height: 100%;
  }
  &:hover {
    #djello-img, #jello-img {
      opacity: 1;
    }
  }
}

// these are set because they start out in the body and are then respositioned using javascript. without this, the user sees a giant transparent jello for a split second on page load
#djello-img, #jello-img{
  height: 1rem;
}


.nav-btn-dropdown {
  background-color: #FFFFFF;
  padding: 0.4rem 0.4rem;
  z-index: 1;
  width: 14rem;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,.4);
  border-radius: 0 3px 3px 0;
  top: 40px;
  max-height: 300px;
  margin: 0.3rem;
  outline: none;
  .board-listing {
    display: inline-block;
    width: 100%;
    .board-listing-text {
      @include sans-serif-big;
      display: inline-block;
      vertical-align: center;
      overflow: hidden;
      color: black;
      font-weight: 700;
      text-align: center;
      white-space: no-wrap;
      text-overflow: elipsis;
    }
  }
}

#boards-dropdown {
  position: absolute;
  left: -0.5rem;
  overflow-x: hidden;
  overflow-y: auto;


  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-button {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4c9cc;
    border: 1px none #ffffff;
    border-radius: 47px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #c4c9cc;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #c4c9cc;
  }
  &::-webkit-scrollbar-track {
    background: #d6dadc;
    border: 1px none #ffffff;
    border-radius: 49px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #d6dadc;
  }
  &::-webkit-scrollbar-track:active {
    background: #d6dadc;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }



  .board-listing {
    margin-top: 0.2rem;
    height: 2rem;
    opacity: 0.8;
    background-color: #C7E1F1;
    z-index: 2;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    .board-listing-spacer {
      display: inline-block;
      height: 100%;
      border-radius: 3px 0 0 3px;
      width: 15%;
      background-color: #0079BF;
    }
    .board-listing-text {
      display: inline-block;
      text-align: left;
      margin-left: 0.5rem;
      width: 70%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.nav-btn {
  @include sans-serif-big;
  color: white;
  font-weight: bold;
  padding: 0.2rem 0.3rem;
  height: 100%;
  background-color: #4791BC;
  background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,
                                      rgba(255,255,255,.2) 100%);
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,
                                rgba(255,255,255,.3) 100%);
  }
}

#boards-button {
  width: 5rem;
  text-align: center;
  .image-container {
    position: relative;
    width: 25%;
    display: inline-block;
    #jello-img {
      height: 100%;
      width: 100%;
    }
  }
  .nav-btn-text {
    display: inline-block;
    width: 65%;
  }
}

#user-button {
  padding: 0;
  width: 8.4rem;
  text-align: center;
  height: 1.5rem;
  position: absolute;
  bottom: 0;
  display: block;
  right: 2rem;
  margin-right: 0.25rem;
  top: 0.25rem;
  #user-initial-spacer {
    @include sans-serif-small;
    border-radius: 3px 0 0 3px;
    height: 100%;
    width: 17%;
    background-color: #D6DADC;
    color: #4d4d4d;
    display: block;
    float: left;
    .user-button-initials {
      position: relative;
      top: 25%;
    }
  }
  .nav-btn-text {
    position: relative;
    top: 20%;
    display: inline-block;
    width: 70%;
  }

}

#user-btn-dropdown {
  position: absolute;
  padding: 0.5rem 0;
  right: 0.1rem;
  text-align: center;
  .user-dropdown-text {
    @include sans-serif-big;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #8c8c8c;
    z-index: 1;
  }
  hr {
    margin: 0.2rem 0.5rem;
  }
  .user-listings {
    width: 100%;
    text-align: left;
  }
}

.user-dropdown-listing {
  @include sans-serif-big;
  font-weight: bold;
  height: 1.5rem;
  padding: 0.3rem 0.6rem;
  background-color: white;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #298FCA;
    color: white;
  }
}

@media only screen
and (max-width: 412px){
  #boards-button{
    width: 2rem;
    .nav-btn-text {
      display: none;
    }
    .image-container {
      width: 100%;
    }
  }

  #user-button {
    width: 1.43rem;
    #user-initial-spacer {
      width: 100%;
      border-radius: 3px 3px 3px 3px;
    }
    .nav-btn-text {
      display: none;
    }
  }
}

