<nav class="nav">
    <div class="navbar-header">
      <boards-button jello-img="jelloImg" boards="boards"></boards-button>
      <a href="{{rootPath}}" class="navbar-brand">
        <div class="brand-image-container" >
        </div>
      </a>
      <user-button current-user="currentUser"></user-button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
    <!-- <ul class="nav navbar-nav navbar-right"> -->
    <!-- <li> -->
    <!-- <a rel="nofollow" data-method="delete" href="{{logoutLink}}">Logout</a> -->
    <!-- </li> -->
    <!-- </ul> -->
    <!-- </div> -->
</nav>
