<div class="description"
  ng-show="!showDescriptionForm"
  ng-click="showDescriptionForm = true">
  <p ng-show="card.description">{{card.description}}</p>
  <p ng-show="!card.description">
    <span class="glyphicon glyphicon-align-justify"
      aria-hidden="true">
    </span>
    Edit the description...
  </p>
</div>
<div ng-if="showDescriptionForm" ng-focus="showDescriptionForm">
  <textarea id="descriptionInput" ng-model="description"
            ng-blur="focusOut()"
  ></textarea>
  <a type="submit"
     class="btn btn-success description-button"
     ng-click="updateDescription(description)"
     value="Add"><strong>Submit</strong>
  </a>
  <span class="glyphicon glyphicon-remove description-x col-md-offset-1"
        aria-hidden="true"
        ng-click="showDescriptionForm = false">
  </span>
</div>
