<edit-in-place value='{{list.title}}'
               id="{{list.id}}"
               class="col-md-10 list-title"
               attr-type="list"
></edit-in-place>

<span uib-dropdown dropdown-append-to-body>
  <a id="btn-append-to-body"
          type="button"
          class="btn btn-default btn-sm list-options"
          uib-dropdown-toggle>
    <span class="glyphicon glyphicon-option-horizontal"
          aria-hidden="true">
    </span>
  </a>
  <ul class="dropdown-menu"
      uib-dropdown-menu role="menu"
      aria-labelledby="btn-append-to-body">
    <li role="menuitem">
      <a href
         ng-click="list.delete()">
        Remove List...
      </a>
    </li>
  </ul>
</span>

<div class="card-container">
  <list-card class="card"
    ng-repeat="card in cards[list.id]"
    card="card"
    list="list"
  >
  </list-card>
  <new-card-form class="col-md-12 new-card-container" list="list"></new-card-form>
</div>
