<edit-in-place value='{{list.title}}'
               id="{{list.id}}"
               class="col-md-10 list-title"
></edit-in-place>

<span uib-dropdown dropdown-append-to-body>
  <button id="btn-append-to-body"
          type="button"
          class="btn btn-default btn-sm list-options"
          uib-dropdown-toggle>
    <span class="glyphicon glyphicon-option-horizontal"
          aria-hidden="true">
    </span>
  </button>
  <ul class="dropdown-menu"
      uib-dropdown-menu role="menu"
      aria-labelledby="btn-append-to-body">
    <li role="menuitem">
      <a href
         ng-click="removeList(list)">
        Remove List...
      </a>
    </li>
  </ul>
</span>

<list-card class="card" ng-repeat="card in cards[list.id]" card="card" ></list-card>

<new-card-form class="col-md-12" list="list"></new-card-form>
