<div edit-in-place
  value='{{list.title}}'
  id="{{list.id}}"
  class="list-title"
  attr-type="list"
></div>

<div uib-dropdown dropdown-append-to-body class="list-options">
  <a id="btn-append-to-body"
    type="button"
    uib-dropdown-toggle>
    <span class="glyphicon glyphicon-option-horizontal"
          aria-hidden="true">
    </span>
  </a>
  <ul class="dropdown-menu"
    uib-dropdown-menu role="menu"
    aria-labelledby="btn-append-to-body">
    <li role="menuitem">
      <a href
        ng-click="list.delete()">
        Remove List...
      </a>
    </li>
  </ul>
</div>

<div class="card-container">
  <!-- <list-card class="card" -->
  <!-- ng-repeat="card in cards[list.id]" -->
  <!-- card="card" -->
  <!-- list="list" -->
  <!-- > -->
  <!-- </list-card> -->
</div>



<new-card-form class="new-card-container" list="list"></new-card-form>
