<div class="board-form-container" ng-show="!(showNewBoardForm)"
  ng-click="showNewBoardForm = true">
  <p class="board-text">Create a new board...</p>
</div>

<form class="new-board-form" ng-model="newBoardForm"
  tabindex="1"
  ng-blur="focusOut()"
  ng-show="showNewBoardForm">
  <div class="board-form-header">
    <p class="popup-title">Create Board</p>
    <span class="glyphicon glyphicon-remove new-board-x"
      aria-hidden="true"
      ng-click="showNewBoardForm = false">
    </span>
  </div>
  <hr class="popup-hr">
  <p class="popup-label">Title</p>
  <input type="text" class="popup-input"
    ng-model="newBoardForm.title"
    ng-blur="focusOut()"
    id="newBoardInput">
  <div type="submit"
    class="submit-btn"
    ng-click="createBoard(newBoardForm.title)"
    value="Add">
    Create
  </div>
</form>
