<div ng-show="!(showNewCardForm)">
  <div ng-click="showNewCardForm = true" class="col-md-12 new-card-link">
    <a>Add a card...</a>
  </div>
</div>
<div ng-if="showNewCardForm">
  <div class="new-card-form-container">
    <form class="new-card-form"
          ng-model="newCardForm">
      <textarea class="new-card-input"
                ng-model="newCardForm.title"
                id="newCardInput"
                ng-blur="focusOut()"
      >
      </textarea>
      <a type="submit"
         class="btn btn-success new-card-button"
         ng-click="createNewCard(list, newCardForm.title)"
         value="Add"><strong>Submit</strong>
      </a>
      <span class="glyphicon glyphicon-remove new-card-x col-md-offset-1"
            aria-hidden="true"
            ng-click="showNewCardForm = false">
      </span>
    </form>
  </div>
</div>
