<div ng-show="!(showNewCardForm)" class="new-card-text-container" ng-click="showNewCardForm = true">
  <div class="new-card-link">
    <a>Add a card...</a>
  </div>
</div>
<div ng-show="showNewCardForm" class="new-card-form-container">
  <form class="new-card-form"
    ng-model="newCardForm">
    <textarea class="new-card-input"
      ng-model="newCardForm.title"
      id="newCardInput"
      ng-blur="focusOut()">
    </textarea>
  </form>
  <a type="submit"
    class="new-card-button"
    ng-click="createNewCard(list, newCardForm.title)"
    value="Add">
    Add
  </a>
  <span class="glyphicon glyphicon-remove new-card-x"
    aria-hidden="true"
    ng-click="showNewCardForm = false">
  </span>
</div>
