<div class="nav-btn" id="user-button" ng-click="toggleUserDropdown()">
  <div id="user-initial-spacer">
    <span class="user-button-initials">{{initials}}</span>
  </div>
  <span class="nav-btn-text">{{currentUser.name}}</span>
</div>
<div class="nav-btn-dropdown" id="user-btn-dropdown" ng-show="showUserDropdown"
  tabindex="0"
  ng-blur="toggleUserDropdown()">
  <span class="user-dropdown-text">{{currentUser.name}}</span>
  <hr>
  <div class="user-listings">
    <div class="user-dropdown-listing" ng-click="logout()">
      <span>Logout</span>
      <!-- <a rel="nofollow" data-method="delete" href="{{logoutLink}}">Logout</a> -->
    </div>
  </div>
</div>
