<style>
 body {
   overflow: hidden;
 }
</style>

<div class="fluid-container">
  <div class="row">
    <h4 class="board-title col-md-2"
        ng-click="focusBoardRenameInput()"
        popover-placement="bottom-left"
        uib-popover-template="dynamicPopover.templateUrl"
        popover-title="Rename Board"
        popover-trigger="'outsideClick'"
        popover-is-open="boardRenamePopoverIsOpen"
        type="button"
    >
      {{board.title}}
    </h4>

    <div>
      <div>
        <a ng-click="deleteCurrentBoard()" class="delete-board-link" href="#">
          Delete board
        </a>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="lists" id="style-2">
      <list cards="cards" list="list"
        ng-repeat="list in lists | orderBy: 'created_at'"
        class="list"
        data-list-id="{{list.id}}"
      >
      </list>
      <new-list-form class="new-list-form" board="board"></new-list-form>
    </div>
  </div>
</div>




<script type="text/ng-template" id="myPopoverTemplate.html">
  <form class="form-group" ng-submit="renameBoard(boardRenameForm.title)">
    <label>Name</label>
    <input type="text"
           id="boardRenameInput"
           ng-model="boardRenameForm.title"
           ng-value="board.title"
           class="form-control">
    <br>
    <!-- <input type="submit" class="btn rename-button" value="Rename"></input> -->
      <a type="submit"
        class="btn btn-success rename-button"
        value="Rename"><strong>Submit</strong>
      </a>
  </form>
</script>
