<div class="board-wrapper">
  <div class="board-header">
    <board-title-popover board="board"></board-title-popover>
    <a ng-click="deleteCurrentBoard()" class="delete-board-link" href="#">
      Delete board
    </a>
  </div>
  <div class="board-content" >
    <div class="lists-container" >
      <list cards="cards" list="list"
        ng-repeat="list in lists | orderBy: 'created_at'"
        class="list"
        data-list-id="{{list.id}}"
      >
      </list>
      <new-list-form class="new-list-form" board="board"></new-list-form>
    </div>
  </div>
</div>
