// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

/* .title-drop{ */
/* position: absolute !important; */
/* left: 50% !important; */
/* } */

.personal-glyph{
  opacity: 0.8;
}

#personal-boards-header{
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #4D4D4D;
}

.index-container{
  margin-top: 3%;
  margin-left: 3.5% !important;
  margin-right: 3.5% !important;
}

.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}

.board {
  @extend .col-md-3;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #056FAD;
  height: 6em;
  border-radius: 3px;
  &:hover{
    text-decoration: none;
    color: white;
    background-color: #0067A3;
  }
}

.board-show{
  background-color: #0079BF;
}

.board-title{
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  color: white !important;
  background-color: inherit !important;
}

.new-board{
  @extend .board;
  color: grey;
  font-size: 1em;
  font-weight: normal;
  margin: auto;
  top: 50%;
  &:hover{
    background-color: #D6DADC;
    color: grey;
  }
  background-color: #DCE0E2;
}
