// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';



.delete-board-link{
  color: #F6F6F6;
  &:hover {
    color: white;
  }
}

.personal-glyph{
  opacity: 0.8;
}

#personal-boards-header{
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #4D4D4D;
}

.index-container{
  margin-top: 3%;
  margin-left: 1.5% !important;
  margin-right: 1.5% !important;
}

.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}

.board {
  width: 100%;
  padding: 0 1em 0 1em;
  margin-bottom: 1.5em;
  display: inline-block;
  background-color: #056FAD;
  height: 7em;
  border-radius: 3px;
  a{
    display: inline-block;
    margin-top: 0.7em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    &:hover{
    text-decoration: none;
      color: white;
    }
  }
  &:hover {
    background-color: #0067A3;
    cursor: pointer;
  }
}

.board-show{
  background-color: #0079BF;
}

.board-title{
  margin-top: 0;
  margin-left: 1%;
  margin-bottom: 1%;
  font-weight: bold;
  color: white !important;
  background-color: inherit !important;
  &:hover{
    cursor: pointer;
  }
}

.new-board{
  @extend .board;
  a {
    top: 3em;
    display: inline-block;
    color: grey;
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 2.5em;
    margin-left: 3em;
  }
  &:hover{
    background-color: #D6DADC;
    a {
      color: #4D4D4D
    }
  }
  background-color: #DCE0E2;
}

.board-form-container{
  border: 2px solid #D6DADC;
  border-radius: 3px;
  .new-board-x {
    opacity: 0.7;
  }
  .new-board-header {
    display: inline-block;
    margin-left: 30%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  p {
    font-weight: bold;
  }
}
