// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.card {
  @extend .col-md-11;
  display: inline-block;
  margin-left: 3%;
  background-color: #FFFFFF;
  min-height: 3em;
  border-radius: 3px;
  margin-bottom: 1em;
  font-weight: normal;
  padding: 0 0.3em 0 0.3em;
  &:hover {
    cursor: pointer;
    background-color: #EDEFF0;
  }
}

.new-card-link{
  height: 100%;
  line-height: 2.5em;
  &:hover {
    cursor: pointer;
    background-color: #CDD2D4;
    text-decoration: underline;
    a {
     color: #4D4D4D;
    }
  }
  a {
    color: grey;
    &:hover {
     color: #4D4D4D;
    }
  }
}

.new-card-form{
  margin-bottom: 1em;
}

.new-card-container{
  width: 100%;
}

.new-card-input{
  width: 100%;
  border-radius: 3px;
  height: 5em;
  margin-bottom: 0.5em;
  resize: none;
  &:focus {
    outline: none;
  }
}

.new-card-button {
  font-weight: bold;
  width: 6em;
  border-bottom: 1px solid black;
}

.new-card-x {
  opacity: 0.8;
  cursor: pointer;
}

.modal {
  .glyphicon {
    display: inline-block;
    float: left;
    font-size: 1.2em;
    color: grey;
    margin-right: 1em;
    margin-top: 0.4em;
  }
  .header {
    display: inline-block;
  }
  .modal-content{
    background-color: #EDEFF0;
  }
  .modal-title {
    font-weight: bold;
    font-size: 1.3em;
    color: #4D4D4D;
    span {
      cursor: text;
    }
  }
  .modal-sub-header {
    color: grey;
  }

  .modal-body {
    .description {
      height: 2em;
      color: grey;
      width: 80%;
      margin-left: 3em;
      padding-left: 1em;
      padding-top: 0.3em;
      border-radius: 3px;
      text-decoration: underline;
      &:hover{
        background-color: #D6DADC;
        cursor: pointer;
        color: #4D4D4D;
      }
    }
    textarea {
      @extend .description;
      width: 80%;
      height: 5em;
      background-color: #E6E8E9;
      outline: none;
      border: 1px solid #C4C5C6;
      resize: none;
      &:hover {
        background-color: #E6E8E9;
        cursor: text;
      }
    }
    .description-button {
      @extend .new-card-button;
    }
    .description-x {
      @extend .new-card-x;
    }
  }
  .modal-footer{
    a{
      margin-left: 3em;
      text-align: left;
      font-weight: bold;
      border: 1px solid #EDEFF0;
      &:hover {
        background-color: #298FCA;
        color: #FFFFFF;
      }
    }
  }
}

