// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.lists {
  padding-left: 0;
}

.list {
  @extend .col-md-3;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  padding: 0 0 0 0;
  color: #585858;
  font-size: 1em;
  font-weight: bold;
  background-color: #E2E4E6;
  min-height: 5em;
  border-radius: 3px;
  .list-title {
    margin-top: 2%;
    margin-bottom: 7%;
    .edit-span,
    .edit-input {
      @extend .col-md-12;
      padding-top: 0px;
      padding-left: 0px;
    }
    /* .edit-input { */
    /* @extend .col-md-11; */
    /* padding-left: 0px; */
    /* } */
  }
}

.list-options {
  background-color: #E2E4E6;
  border: none;
  color: #B3B5B7;
  &:hover{
    background-color: #CDD2D4;
  }
}

.new-list {
  @extend .col-md-12;
  background-color: #006BA9;
  min-height: 3em;
  /* height: 1.5em; */
  color: #B1CBDA;
  font-weight: normal;
  p {
    margin-top: 5%;
  }
  &:hover {
    background-color: #005586;
    cursor: pointer;
  }
}

.list-form-container{
  @extend .new-list;
  border: 2px solid #E2E4E6;
  border-radius: 3px;
  background-color: #E2E4E6;
  input {
    @extend .col-md-12
  }
  &:hover {
    background-color: #E2E4E6;
  }
  .new-list-x {
    opacity: 0.7;
  }
  p {
    font-weight: bold;
  }
}
