<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <span class="glyphicon glyphicon-modal-window"
              aria-hidden="true">
        </span>
        <div class="header">
          <edit-in-place value="{{card.title}}"
                         id="{{card.id}}"
                         class="modal-title"
                         attr-type="card"
          ></edit-in-place>


          <p class="modal-sub-header">In list <span class="underlined">{{list.title}}</span></p>
        </div>
      </div>
      <div class="modal-body">
        <edit-description-form card="card" list="list"></edit-description-form>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" href ng-click="markCompleted()">Mark this card completed...</a>
      </div>
    </div>
  </div>
</div>
