<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')"
                data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <span class="glyphicon glyphicon-modal-window"
              aria-hidden="true">
        </span>
        <div class="header">
          <edit-in-place value="{{card.title}}"
                         id="{{card.id}}"
                         class="modal-title"
                         attr-type="card"
          ></edit-in-place>
          <p class="modal-sub-header">In list <span class="underlined">{{list.title}}</span></p>
        </div>
      </div>
      <div class="modal-body">
        <members-icons members="card.users"></members-icons>
        <edit-description-form card="card" list="list"></edit-description-form>
        <div ng-repeat="member in boardMembers" >
          {{member.name}}
        </div>
      </div>
      <div class="modal-footer">
        <a id="mark-completed-btn" class="btn btn-default" href ng-click="markCompleted()">
          <p>Mark completed</p>
        </a>
        <div>
          <button
              id="show-member-input-btn"
              class="btn btn-default"
              href
              ng-click="showMemberInput = true"
              popover-placement="bottom-left"
              uib-popover-template="dynamicPopover.templateUrl"
              popover-title="Members"
              popover-trigger="'outsideClick'"
          >
            <span class="glyphicon glyphicon-user personal-glyph"
                  aria-hidden="true">
            </span>
            <p class="">
              Members
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>


  <script type="text/ng-template" id="memberPopoverTemplate.html">
    <form class="form-group" name="memberForm" autocomplete="off">
      <input type="text"
             id="memberInput"
             name="memberInput"
             ng-show="showMemberInput"
             ng-model="selected"
             typeahead-input-formatter="$model.name"
             typeahead-on-select="addMember($item)"
             uib-typeahead="member as member.name for member in boardMembers | filter:$viewValue | limitTo:8"
             class="form-control">
    </form>
  </script>
</div>

